<ng-template #bookresulttemplate let-r="result" let-t="term">
	<img [src]="r?.volumeInfo?.imageLinks?.thumbnail" class="me-1" style="width: 100px" />
	<ngb-highlight [result]="getDescricaoLivro(r)" [term]="t"></ngb-highlight>
</ng-template>

<div class="mb-3 row">
	<label for="typeahead-template" class="col-xs-3 col-sm-auto col-form-label">Pesquise o livro (título, autores...):</label>
	<div class="col">
		<input name="livro" id="typeahead-template" type="text" class="form-control col" [(ngModel)]="model" [ngbTypeahead]="search"
			[resultTemplate]="bookresulttemplate" [inputFormatter]="formatter" />
	</div>
</div>